<div class="bootstrap-wrapper" *ngIf="!isSubmit">
          <div class="container-fluid">
                    <div class="row">
                    <div class="col-md-2">
                              <mat-card style="margin-top: 70px;">
                                        <mat-card-content>
                                                  <ul>
                                                            <h2><b>instructions</b></h2>
                                                            <li>Dont try to refresh Your Window</li>
                                                            <li>Dont try to switch the tab</li>
                                                            <li>Dont Try to Minimize your tab</li>
                                                  </ul>
                                        </mat-card-content>
                              </mat-card>
                             
                    </div>
                    <div class="col-md-8">
                              <ng-container *ngIf="queition">
                                        
                                                  <h1 class="mt20">On Going quize of <b>{{queition[0].quize.title}}</b></h1>
                              </ng-container>
                              <mat-card *ngFor="let q of queition;let i=index" class="mt20">
                                        <mat-card-content>
                                                  <p><b>Q{{i+1}}) </b><span [innerHTML]="q.content"></span></p>
                                                  <mat-divider></mat-divider>
                                                  <div class="row">
                                                            <div class="col-md-6">
                                                                      <input type="radio" [(ngModel)]="q.givenAnswer" [value]="q.option1" name={{i}}>{{q.option1}} 
                                                            </div>
                                                            <div class="col-md-6">
                                                                      <input type="radio"[(ngModel)]="q.givenAnswer" [value]="q.option2" name={{i}}>{{q.option2}}
                                                            </div>
                                                            
                                                  </div>
                                                  <div class="row">
                                                            <div class="col-md-6">
                                                                      <input type="radio" [(ngModel)]="q.givenAnswer" [value]="q.option3" name={{i}}>{{q.option3}}
                                                            </div>
                                                            <div class="col-md-6">
                                                                      <input type="radio" [(ngModel)]="q.givenAnswer" [value]="q.option4" name={{i}}>{{q.option4}}
                                                            </div>
                                                  </div>
                                        </mat-card-content>
                              </mat-card>
                              <div class="container text-center mt20 mb20">
                                        <button mat-raised-button color="primary" (click)="submitQuize()">Submit</button>
                              </div>
                    </div>
                    <div class="col-md-2">
                              <mat-card style="margin-top: 70px;">
                                        <mat-card-header>
                                                  <mat-card-title>
                                                            Progress
                                                  </mat-card-title>
                                                  <mat-card-subtitle>
                                                            Quize will automatically submited when timer reaches to <b>0.0</b> 
                                                  </mat-card-subtitle>
                                        </mat-card-header>
                                        <mat-card-content class="text-center">
                                                  <h1><b> {{getFormatedTime()}}</b></h1>
                                                  <mat-spinner color="accent" style="margin: auto;" mode="determinate" [value]="(timer/(this.queition.length*2*60)*100)">
                                                  </mat-spinner>
                                        </mat-card-content>
                              </mat-card>
                    </div>
                    
          </div>
          </div>
</div>

<div class="bootstrap-wrapper" *ngIf="isSubmit">
          <div class="row">
                    <div class="col-md-6 offset-md-3">
                              <mat-card class="mt20">
                                        <mat-card-header>
                                                  <mat-card-title>
                                                            Quize Result
                                                  </mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content>
                                                  <h1>Marks Got : {{marksGot}}</h1>
                                                  <h1>Correct Answer : {{correctAnswers}}</h1>
                                        </mat-card-content>
                                        <div class="container text-center mb20 mt20">
                                                  <button mat-raised-button color="primary" (click)="printPage()">Print</button>
                                                  <button mat-raised-button color="accent"  class="ml20" [routerLink]="'/user-dashboard/0'">Home</button>
                                        </div>
                                        
                              </mat-card>
                    </div>
          </div>
</div>