<div class="bootstrap-wrapper">

<div class="container">
<div class="row" >
  <mat-card>
          <div class="col-md-6 offset-md-3">
                    <div class="container text-center">
                              <img src="../../../assets/logo.png" alt="Register" style="width: 100px; height: 100px;">
                    </div>
                    <h1 class="text-center">Register Here !!</h1>
                          {{user | json}}
                    <form (ngSubmit)="FormSubmit()">
                              <p>
                                        <mat-form-field appearance="outline" class="full-width">
                                          <mat-label>User Name</mat-label>
                                          <input type="text"required matInput placeholder="Enter here" [(ngModel)]="user.userName"  name="UserName">
                                        </mat-form-field>
                                      </p>
                              <p>
                                        <mat-form-field appearance="outline" class="full-width">
                                          <mat-label>password</mat-label>
                                          <input  type="password"required matInput placeholder="Enter password" [(ngModel)]="user.password" name="password">
                                        </mat-form-field>
                                      </p>
                              <p>
                                        <mat-form-field appearance="outline" class="full-width">
                                          <mat-label>First Name</mat-label>
                                          <input type="text" required matInput placeholder="Enter First Name" [(ngModel)]="user.firstName" name="firstName">
                                        </mat-form-field>
                                      </p>
                              <p>
                                        <mat-form-field appearance="outline" class="full-width">
                                          <mat-label>Last Name</mat-label>
                                          <input type="text" required matInput placeholder="Enter Last Name"[(ngModel)]="user.lastName"  name="lastName">
                                        </mat-form-field>
                                      </p>
                              <p>
                                        <mat-form-field appearance="outline" class="full-width">
                                          <mat-label>Emai-Adress</mat-label>
                                          <input type="email" required matInput placeholder="Enter email" [(ngModel)]="user.email" name="email">
                                        </mat-form-field>
                                      </p>
                              <p>
                                        <mat-form-field appearance="outline" class="full-width">
                                          <mat-label>Phone-Number</mat-label>
                                          <input type="text" required matInput placeholder="Enter Phone-Number" [(ngModel)]="user.phone" name="phone">
                                        </mat-form-field>
                                      </p>

                                      <div class="container" class="text-center">
                                        <button mat-raised-button color="primary"class="mb20" type="submit">Register here</button>
                                        <button class="ml20" mat-raised-button class="mb20 ml20" color="accent" type="reset">Reset</button>
                                      </div>
                    </form>
          </div>
        </mat-card>
</div>

</div>
</div>