<div class="bootstrap-wrapper">
          <div class="container">
                    <div  >
                              <mat-card>
                             <div class="col-md-6 offset-md-3">
                              <div class="container text-center">
                                        <img src="../../../assets/logo.png" alt="Register" style="width: 100px; height: 100px;">
                              </div>
                              <h1 class="text-center">
                                        Login Here !!
                              </h1>
                              {{log | json}}
                              <form class="full-width" (ngSubmit)="OnSubmit()">
                                        <p>
                                                  <mat-form-field appearance="outline" class="full-width">
                                                    <mat-label>User Name</mat-label>
                                                    <input type="text"required matInput placeholder="Enter here" [(ngModel)]="log.userName"  name="UserName">
                                                  </mat-form-field>
                                                </p>
                                        <p>
                                                  <mat-form-field appearance="outline" class="full-width">
                                                    <mat-label>password</mat-label>
                                                    <input  type="password"required matInput placeholder="Enter password" [(ngModel)]="log.password" name="password">
                                                  </mat-form-field>
                                                </p>
                                        <p>
                                                  <div class="text-center">
                                                            <button type="submit" class="mb20" mat-raised-button color="primary" type="submit">Login</button>
                                                            <button  mat-raised-button color="accent"class="ml20 mb20" type="reset">Reset</button>
                                                  </div>
                              </form>
                  
                             </div>
                    </mat-card>
                    </div>
          </div>
</div>