<h1 class="mt20">showing Quietions of {{title}}</h1>
<div class="bootstrap-wrapper">
          <div class="row">
                    <div class="col-md-12">
                              <mat-card *ngFor="let q of queitions ;let i=index" class="mt20">
                                        <mat-card-content>
                                                  <p>
                                                            <b>Q {{i+1}})</b>
                                                            <span class="ml20" [innerHTML]="q.content"></span>
                                                  </p>
                                                  <div class="container-fluid">
                                                            <div class="row">
                                                                      <div class="col-md-6">
                                                                                <p><b>1) </b> {{q.option1}}</p>
                                                                      </div>
                                                                      <div class="col-md-6">
                                                                                <p><b>2) </b> {{q.option2}}</p>
                                                                      </div>
                                                                      <div class="col-md-6">
                                                                                <p><b>3) </b> {{q.option3}}</p>
                                                                      </div>
                                                                      <div class="col-md-6">
                                                                                <p><b>4) </b>{{q.option4}}</p>
                                                                      </div>
                                                            </div>
                                                            <mat-divider></mat-divider>
                                                            <p class="mt20"><b>Corrent Answer : </b>{{q.answer}}</p>
                                                  </div>
                                        </mat-card-content>
                                                  <!-- <div class="col-md-3">
                                                            <button class="ml10 mb20" mat-raised-button color="warn">
                                                                      Delete
                                                            </button>
                                                            <button class="ml20 mb20" mat-raised-button color="primary">
                                                                      Update
                                                            </button>
                                                  </div> -->
                                                  <mat-card-actions>
                                                            <button mat-button color="warn" (click)="DeleteQueition(q.queistionsId)">Delete</button>
                                                            <button mat-button color="primary" class="ml20" >Update</button>
                                                        </mat-card-actions>
                                                 
                                       
                                      
                              </mat-card>
                              <div class="container text-center">
                                        <button mat-raised-button color="accent"(click)="addQueitions(quizeid,title)"> Add Queitions</button>
                              </div>
                    </div>
          </div>
</div>
